<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model">
   
   <listeners>
   	<listener class-name="qa.extentreport.ExtentReportListener"/>
   </listeners>
   
	<test name="Login Test">
		<classes>
			<class name="qa.test.LoginPageTest"></class>
			<class name="qa.test.HomePageTest"></class>
		<class name="qa.test.ContactPageTest"></class>
		</classes>
	</test> <!-- Test -->	
</suite> <!-- Suite -->
